/* Taux de disponibilité */

.tauxDisponibilite {
    background-color: #ddfdfc;
    padding: 0.8em;
    border-radius: 20px;
    margin-top: 1em;
}


/* Ce code est pour le bouton popup d'admin  */


/* The popup form - hidden by default */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #2A4A9B;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: #FFC107;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.bi-person-circle {
    cursor: pointer;
}

.textDeconexion {
    text-decoration: none !important;
    color: white;
}


/*formulaire création incident*/

#incidentForm {
    display: none;
}


/* pour le header */

.fill {
    margin-bottom: 0;
    height: 3em;
    padding: 0.6em;
}

.filll {
    background-color: #2A4A9B;
    height: 3em;
    margin-top: 0;
}

.MessageSession {
    text-align: center;
}

.NbSignal {
    text-align: center;
    background-color: #DDFDFC;
    border-radius: 15px;
    padding: 6px;
    margin: 15px;
}


/* pour le logo */

.img-fluid {
    margin: 15px;
}

#NbSignalement {
    padding: 12px;
    width: 100%;
    background-color: #DDFDFC;
    margin: 0.8em;
    border-radius: 20px 20px 20px 20px;
}


/* Pour le menu de nav on the side */

.sidenavDiv {
    padding-top: 40px;
}

.sidenav {
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    margin: 2em;
    text-decoration: none;
    display: block;
    color: black;
    background-color: #E3E9F1;
}

.sidenav:hover {
    color: white;
    background-color: #2A4A9B;
}


/* pour MyAccount */

.main {
    background-color: white;
    min-height: 300px;
    width: 60%;
    border-radius: 15px;
    margin-left: 160px;
    padding: 30px;
    padding-top: 5px;
}


/* pour le bouton de modification de mot de passe */

#btnModPSW {
    border-radius: 50px;
    text-align: center;
    padding: 6px 6px 6px 6px;
    margin-top: 30px;
    text-decoration: none;
    display: block;
    color: black;
    background-color: #E3E9F1;
    border: none;
}

#btnModPSW:hover {
    color: white;
    background-color: #2A4A9B;
}


/* Global */

.col-md-9 {
    background-color: #E3E9F1;
    border-radius: 30px 0px 0px 0px;
    min-height: 600px;
}

.table {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    width: 95%;
    margin: 1em;
}


/*formulaire incident*/

.tableIncident {
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    width: 100%;
    background-color: white;
}

.incidentForm {
    padding: 30px;
    background-color: lightgray;
    border-radius: 20px;
}

.incidentTitle {
    margin-bottom: 10px;
}

.incidentTitle2 {
    margin-bottom: 10px;
}

.form-select {
    border: 3px solid #e3e9f1;
    border-radius: 20px;
    padding: 3px;
}

.option {
    border: 3px solid #e3e9f1;
    border-radius: 20px;
    padding: 3px;
}


/*ul incident*/

.incidentServicesForm {
    border-radius: 20px;
    margin: 5px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.iconeIncidentForm {
    width: 5%;
}


/*modification incident*/

.flexDeleteGroup {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-left: 5%;
}

.flexDeleteRow {
    display: flex;
}

.editServiceStatus {
    display: flex;
    border-radius: 20px;
    width: 40%;
    text-align: left;
}

.flexEditForm {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    margin-top: 5px;
}

.editFormButton {
    margin-left: 5%;
}

.editState1 {
    border-radius: 20px;
    width: 300px;
    border: none;
}
.editState2 {
    border-radius: 20px;
    width: auto;
    border: none;
}

.commentary {
    padding: 8px;
    margin-top: 8px;
}

.editFormStatus {
    background-color: lightgray;
    /* width: 40%; */
    padding: 15px;
    border-radius: 20px;
}

.date {
    width: 250px;
    margin-top: 8px;
}

.text-info {
    margin-top: 15px;
}

.list-group {
    margin-bottom: 5px;
}


/*modification service*/

.inputServiceEdit {
    border-radius: 20px;
}


/*formulaire de signalement*/

.tableSignalement {
    padding: 10px;
}

.reportForm {
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

 .reportForm3 {
    background-color: white;
    border-radius: 20px;
    padding-left: 0px;
}

.accordion-button {
    background-color: #e7f1ff;
    color: #0c63e4;
    border-radius: 20px;
}

.textInsideAccordion {
    padding-left: 15px;
    padding-bottom: 15px;
}

input::placeholder {
    color: #1c87c9;
    opacity: 0.3;
}

.reportPublicClock {
    text-align: end;
    padding: 7px;
    border-radius: 20px;
    background-color: white;
}

.reportHourAlignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*report service*/

.serviceAffecteTitle {
    margin-left: 3rem;
}


/*boutons*/

.yellowButton {
    text-decoration: none;
    color: white;
    padding: 0px;
}

.yellowButton:hover {
    color: white;
}

.editStatusDeleteTextButton {
    padding: 0;
}

.editStatusDeleteButton {
    margin-left: 5%;
}


/*alignement des textes en haut de pages*/

.margeLeftHautPage,
h1 {
    margin-left: 5%;
}


/*footer*/

footer {
    /* margin-top: 2em !important; */
    padding: 0.8em;
    background-color: #2A4A9B!important;
    text-align: center;
    color: white!important;
    /* display: flex;
    flex-direction: column; */
}

.footerAlgoritmus{
    font-weight: lighter;
    font-size: 0.9em;
}

@media screen and (max-width: 720px) {

    .TextCompte {
        display: none;
    }
}



/* Ce code est pour le bouton popup d'admin  */


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {

    .reportFormPublic1 {
        flex-direction: row;
    }

}

@media screen and (max-width: 720px) {

    .TextCompte {
        display: none;
    }

}

@media screen and (max-width: 600px) {

    /*nav*/

    .sidenavDiv {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .sidenav {
        padding: 6px;
        margin: 0.8em;
        width: 60%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*report public*/

    .reportFormPublic {
        flex-direction: column;
    }

    .generalForm {
        width: 100%;
    }

    .reportPublicClock {
        font-size: 0.8em;
        text-align: end;
        padding: 5px;
        border-radius: 20px;
        background-color: #e3e9f1;
    }

    .form-select>option {
        font-size: 0.8em;
    }

    /*accueil public*/

    .tableauAccueil {
        display: flex;
        flex-direction: column!important;
        border-bottom-width:0!important;
        border-style:none ;
        text-align: center!important;
    }

    .table{
        margin: auto!important;
    }

    .serviceNameAccueilResponsive {
        font-weight: bold;
        border-bottom-width:0em!important;
    }

    .iconesServicesAccueil {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 0!important;
        padding-bottom: 5px!important;
        border-bottom-width:0em!important;
    }

    .iconesServicesAccueil>img {
        width: 20px;
        height: 20px;
    }

    .descriptionTableauAccueil {
        font-size: 0.7em;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid grey!important;
    }

    .tailleIconeResponsive {
        width: 25px;
        height: 25px;
    }

    .enteteTableauResponsive {
        display: none;
    }

    .table>:not(:first-child) {
        border-top: none;
    }

    .titreBoutonAccueilRes {
        text-align: center;
        padding: 0;
        padding-top: 10px;
    }

    .yellowButton {
        font-size: 0.8em;
    }

    .tauxDisponibilite {
        text-align: center;
        font-size: 0.8em;
    }

    /*historic public*/

    .titreHistoric {
        text-align: center;
        padding-top: 10px;
    }

    .ligneHistoricResponsive {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .tdHistoric {
        border: none;
        display: flex;
        flex-direction: column;
    }

    .ref::before {
        font-weight: bold;
        color: #2a4a9b;
        content: "Service affecté:  ";
    }

    .ref2::before {
        font-weight: bold;
        color: #2a4a9b;
        content: "Durée :  ";
    }

    .ref3::before {
        font-weight: bold;
        color: #2a4a9b;
        content: "Commentaire :  ";
    }

    .ref4::before {
        font-weight: bold;
        color: #2a4a9b;
        content: "Début :  ";
    }

    .bordure {
        border-bottom: 1px solid gray;
    }

    .ref5::before {
        font-weight: bold;
        color: #2a4a9b;
        content: "Fin :  ";
    }

    #NbSignalement {
        text-align: center;
    }

    .dateHistoricRes {
        display: flex;
        flex-direction: column-reverse;
    }

    #clickable:hover {
        cursor: pointer;
    }
}

